body {
    font-family: 'Sono', sans-serif;
    background-color: #C7DCA7;
  }
 .pricing-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
 }
 .pricing-plan {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #F3EEEA;
    border-radius: 5px;
    text-align: center;
  }

  .plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .plan-price {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .plan-features {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .plan-features li {
    margin-bottom: 20px;
  }

  .plan-button {
    padding: 10px;
    background-color: #ff6600;
    color: #fff;
    border-radius: 5px;
    border: none;
  }
  .plan-button:hover{
    background-color: #FFD966;
   cursor: pointer;
    transition: 0.5s;
  }

  @media (max-width: 1250px) {
    .pricing-container {
      flex-direction: column;
      height: 100%;
    }
  }